// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #e9c810;
$light-yellow:rgb(246, 242, 200);
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #4e4d4d;
$black: #040404;
