// Define variables for your color scheme

// For example:

$yellow: #e9c810;
$light-yellow:rgb(246, 242, 200);
$orange: #E67E22;
$card-background-gray: #f9f6f3;
$background-gray: #f2f2f2;
$gray: #2e2e2e;
$light-gray: #88857c;
$black: #040404;
$pink:rgb(181, 68, 198);

$blue: rgb(89, 89, 240);
$green: rgb(70, 109, 41);
$info-yellow: #ffe59e;
$red: rgb(251, 71, 1);


$primary: $blue;
$success: $green;
$info: $info-yellow;
$danger: $red;
