<%= form_with url: root_path, method: :get  do %>
  <div class="search">
    <%= text_field_tag :query,
      params[:query],
      class: "search-input",
      placeholder: "Find your Walky"
    %>
    <%= submit_tag "Search", class: "search-button" %>
  </div>
<% end %>
<%# class: "d-flex" %>
<%# form-control string required %>
 <%# btn-flat %>
