  <div class="blog-wrapper">
    <div class="blog-card-show">
      <div class="card-show-img">
      <% if @companion.photo.attached? %>
        <%= cl_image_tag @companion.photo.key, crop: :fill, class: "img"%>
        <% else %>
        <img src="https://images.unsplash.com/photo-1556316918-880f9e893822?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
        >
        <% end %>
        <h1><%=@companion.name%></h1>
      </div>
      <%# <div class="card-show-details"><span><i class="fa fa-calendar"></i>MAR 3</span><span><i class="fa fa-heart"></i>102</span></div> %>
      <div class="card-show-text"><p><%=@companion.offer_details%></p></div>
      <div class="read-more"><%= link_to "Book #{@companion.name}", new_companion_booking_path(@companion)%>
      </div>
    </div>
    </div>
