.footer {
  text-align: center;
  padding: 60px;
  background-color: #008051;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer a {
  font-size: 30px;
  color:  #e9c810;
}

.footer p {
  color: rgb(249, 240, 158);
}

.footer .fas {
  color: rgb(90, 30, 99);
}
