.footer {
  text-align: center;
  padding: 60px;
  background-color: $gray;
  bottom: 0;
  width: 100%;
  max-height: 200 px;
}

.footer a {
  font-size: 30px;
  color:  #e9c810;
}

.footer p {
  color: rgb(249, 240, 158);
}

.footer .fas {
  color: $pink;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 50px;
}
