.input-form {
  background-color: $light-gray;
  color: black;
}

.form-control {
  background-color: white;
}

.form-control:focus {
  background-color: white;
  border-color: $yellow;
  box-shadow: 0 0 0 0.25rem rgba(234, 200, 18, 0.25);
}

.form-select {
  background-color: white;
}

.form-select:focus {
  background-color: white;
  border-color: $yellow;
  box-shadow: 0 0 0 0.25rem rgba(234, 200, 18, 0.25);
}

.form-select option {
  color: white;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  line-height: 1.5;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  margin-right: 8px;
}

.input-field:focus {
  background-color: white;
  border-color: $yellow;
  box-shadow: 0 0 0 0.25rem rgba(234, 200, 18, 0.25);
}
